<div class="container">
    <p class="login-p">ログイン</p>
    <form action="/signup" method="POST">
        <div class="input">
            <input class="input-text" type="text" name="user" placeholder="ID">
        </div>
        <div class="input">
            <input class="input-text" type="password" name="password" placeholder="PassWord">
        </div>
        <div class="input">
            <input id="login" type="submit" value="ログイン" href="/top">
        </div>
    </form>
    <a href="/top">ログイン成功画面</a>
</div>