<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>学習記録</title>
</head>
<body>
    <h1>ログイン後の画面になりました。</h1>
</body>
</html>