
<% if flash[:notice] %>
<div class="login-flash">
    <%= flash[:notice] %>
</div>
<% end %>
<a href="/">ログイン画面に戻る</a>

<% User.all.each do |u| %>
<p><%= u.name %><%= u.password %></p>
<% end %>
<% t = 'tsubasa' %>
<p><%= p User.all.find_by(name: t).password %></p>